{% extends 'delivery/base.html' %}

{% block content %}

<div style="
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
">

    <h1 style="
    color:#1e3a8a;
    font-size:35px;
    ">
    📦 Commandes
    </h1>

    <a href="/ajouter-commande/"
    style="
    background:#2563eb;
    color:white;
    padding:12px 18px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 4px 12px rgba(37,99,235,0.3);
    ">
    ➕ Ajouter Commande
    </a>

</div>

<table style="
width:100%;
background:white;
border-collapse:collapse;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
">

<tr style="background:#2563eb;color:white;">

    <th style="padding:15px;border-right:1px solid rgba(255,255,255,0.3);">
        Client
    </th>

    <th style="padding:15px;border-right:1px solid rgba(255,255,255,0.3);">
        Produit
    </th>

    <th style="padding:15px;border-right:1px solid rgba(255,255,255,0.3);">
        Quantité
    </th>

    <th style="padding:15px;">
        Date
    </th>

</tr>

{% for commande in commandes %}

<tr style="border-bottom:2px solid #e5e7eb;">

    <td style="padding:15px;border-right:1px solid #e5e7eb;">
        {{ commande.client }}
    </td>

    <td style="padding:15px;border-right:1px solid #e5e7eb;">
        {{ commande.produit }}
    </td>

    <td style="padding:15px;border-right:1px solid #e5e7eb;">
        {{ commande.quantite }}
    </td>

    <td style="padding:15px;">
        {{ commande.date_commande }}
    </td>

</tr>

{% empty %}

<tr>
    <td colspan="4" style="padding:25px;text-align:center;">
        Aucune commande trouvée
    </td>
</tr>

{% endfor %}

</table>

{% endblock %}